.navigation {
  width: 18%;
  background: red;
  position: relative;
}

.layout {
  /* width: 100%; */
  display: flex;
  margin: 1px;
  padding: 0;
  height: 100vh;
}

.main {
  width: 82%;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 35%;
  margin-left: 10%;
}

.nav_link {
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 550;
  background: green;
  margin-bottom: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.social {
  position: absolute;
  margin-left: 10%;
  bottom: 3.5%;
}

.my-icon {
  font-size: 1.3rem;
  margin-right: 3%;
}

.foot {
  margin-top: 14%;
  font-weight: 550;
}
