.navigation {
  width: 38%;
  position: relative;
}

.navigation h6 {
  font-size: 11px;
}

.navigation .insta {
  visibility: hidden;
}

.layout {
  width: 100%;
  display: flex;
  margin: 1px;
  padding: 0;
  height: 100vh;
}

.main {
  width: 82%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35%;
  margin-left: 10%;
}

.nav_link {
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 550;
  background: rgb(97, 157, 97);
  margin-top: 1%;
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav_link1 {
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 550;
  background: rgb(97, 157, 97);
  margin-bottom: 1%;
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav_link3 {
  padding: 2.5%;
  font-size: 1.5rem;
  font-weight: 550;
  background: rgb(97, 157, 97);
  margin-bottom: 10%;
  display: block;
  color: #fff;
  text-decoration: none;
}

.social {
  position: absolute;
  margin-left: 10%;
  bottom: 3.5%;
}

.my-icon {
  font-size: 1.3rem;
  margin-right: 3%;
}

.foot {
  margin-top: 14%;
  font-weight: 550;
}

.main_link {
  background-color: rgb(102, 156, 20);
  color: #fff;
}

.btn {
  background-color: rgb(102, 156, 20);
  border: none;
}

.reservation {
  overflow-wrap: break-word;
  width: 100%;
  text-size-adjust: 100%;
}

@media (min-width: 420px) {
  .navigation {
    width: 28%;
  }

  .navigation h6 {
    font-size: 12px;
  }
}

@media (min-width: 640px) {
  .navigation {
    width: 22%;
  }

  .navigation h6 {
    font-size: 14px;
  }

  .navigation .insta {
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .navigation {
    width: 20%;
    padding-left: 2px;
  }

  .navigation h6 {
    font-size: 16px;
  }
}

@media (min-width: 1080px) {
  .navigation {
    width: 18%;
  }

  .navigation h6 {
    font-size: 16px;
    margin-right: 24px;
    padding: 2px;
    text-align: center;
  }

  .social {
    padding: 5px;
    text-align: center;
  }
}
